footer.footer-page
  div
    span Powered by
    a(href='https://hexo.io/') Hexo
    span  | Theme
    a(href='https://github.com/hellyguo/hexo-theme-tinypaper') tinypaper
    span  | 备案
    a(href=theme.beian.ba_url) #{ theme.beian.ba_id }
