header.page-header
  nav
    ul.router-list
      li.nav-item 
        a(href='/') 主页
      li.nav-item 
        a(href='/archives/') 归档
      li.nav-item 
        a(href='/categories/') 分类
      li.nav-item 
        a(href='/tags/') 标签
    .mode-switch
      span.iconfont.icon-DarkTheme
